@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.border-gradient {
  position: relative;
  background: #3a3a3a;
  border-radius: 10px;
  padding: 20px; /* Add padding back! */
  width: 300px;
  height: 300px;
}

.border-gradient::before, .border-gradient::after {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: -1;
  
  background-image: conic-gradient(from var(--gradient-angle), #833ab4, #fd1d1d, #fcb045, #833ab4);
  border-radius: inherit;
  animation: rotation 1s linear infinite
}
.border-gradient::after {
  filter: blur(3.5rem);
}
@keyframes rotation {
  to {
    --gradient-angle: 360deg;
  }
}